body
{
    background-color: cornflowerblue;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
}

#menu
{
    background-color: grey;
    width: 20%;
    height: 100%;
    float: left;
}

#cuerpo
{
    background-color: blueviolet;
    width: 80%;
    height: 25%;
    float: right;
}